.HeroSection {
  height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url(../../assets/Hero.png);
  background-size: cover;
  background-position: center;
}

.heroContent{
    display: flex;
    justify-content: space-between;
}

.data-analysis{
  color: white;
  padding: 2em;
  line-height: 1.7em;
  font-size: 1.2em;
}

.dashbordLinks{
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-transform: capitalize;
}

.dashbordLinks a{
text-decoration: none;
color: white;
font-size: 1.5em;
}

.dashbordData li{
  list-style: none;
}

.dashbordLinks a:hover{
  color: brown;
  transition: color 0.3s ease-in-out;
}

